NET "a" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "b" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "c" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "sum" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "carry" LOC = P27 | IOSTANDARD = LVTTL | PULLDOWN;